<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Get Fit!</title>
</head>
<body>
	<h1>Run Application</h1>
	<table>
		<tr>
			<td><form action="addrunners"><input type="submit" value="Add New Runner"></form></td>
			<td><button type="submit" formaction="addcities">Add New City</button></td>
			<td><button type="submit" formaction="addruns">Add New Run</button></td>
		</tr>
		<tr>
			<td><button type="submit" formaction="viewrunners">View All Runners</button></td>
			<td><button type="submit" formaction="viewcities">View All Cities</button></td>
			<td><button type="submit" formaction="viewruns">View All Runs</button></td>
		</tr>
	</table>
	<button type="submit" formaction="analyze">Go to Analysis Options</button>
</body>
</html>